body {
    font-family: 'Lato', 'Calibri', Arial, sans-serif;
    color: lightcoral;
    /*background: #47A3DA;*/
    margin: 0 auto;
}

header {
  width: 99%;
  padding: 25px;
  border: 1px dashed red;
}
