/* for debugging only */
    /*li, h1, h2, h3, li, img, p , header, footer {
    border: 1px dashed red;
}*/

body {
    font-family: 'Lato', 'Calibri', Arial, sans-serif;
    /*width: 1075px;*/
    margin: 0 auto;
    color: #47A3DA;
    /*border: 1px dashed red;*/
}

header {
  width: 100%;
  padding: 25px;
}

li {
  width: 27%;
  display: inline-block;
  text-align: center;
}

#mainContainer {
    border: 3px solid #47A3DA;
    padding: 20px;
    margin: 0% 9% 0% 9%;
}

#navBar {
  border-bottom: 3px solid #47A3DA;
  padding-bottom: 10px;
  text-align: right;
  width: 100%;
}

.fa-2x {
  font-size: 1.8em !important;
}

.gridIcon {
  width: 35px;
  height: 35px;
  margin: 10px 0px 5px 0px;
  color: #47A3DA;
  text-decoration: none;
  vertical-align: middle;
}

.listIcon {
  width: 35px;
  height: 35px;
  margin: 10px 0px 5px 0px;
  color: rgb(193, 193, 193);
  text-decoration: none;
  vertical-align: middle;
}

.listIcon:hover {
  color: #47A3DA;
  transition: color 0.2s;
}

.itemView {
    padding: 25px;
    margin-top: 20px;
    display: inline-block;
    min-height: 380px;
    vertical-align: top;
}

.itemLink {
  text-decoration: none;
}

.itemImage {
  padding-bottom: 5px;
}

.itemName {
  font-size: 2em;
  font-weight: bold;
}

.itemPrice {
    font-size: 1.5em;
    margin: 15px 0px 15px 0px;
    color: rgb(193, 193, 193);
}

.itemInfo {
  /*max-width: 310px;*/
  min-height: 70px;
  margin: 0px;
  vertical-align: baseline;
}

.itemButton {
  color: #FFF;
  background: #47A3DA;
  padding: 10px 20px;
  border-radius: 2px;
  margin: 15px 0 0;
  display: inline-block;
  transition: background 0.2s;
  text-decoration: none;
}

.itemButton:hover {
  background: #02639D;
}

/* Any screen at 500px */
@media only screen and (max-width: 500px) {
    li {
        width: 85%;
    }
    .itemButton {
      margin-top: 0px;
    }
}

/* Any screen at 768px */
@media only screen and (min-width: 768px) {
    li {
        width: 40.5%;   /* two column */
    }
}

/* Any screen at 1080px */
@media only screen and (min-width: 1080px) {
  li {
    /* width: 43.5%;   two column */
    width: 26.5%;    /* three column */
  }
}

/* Any screen at 1115px wide */
@media only screen and (min-width: 1115px) {
    li {
        width: 27%;
    }
}

/* Any screen at 1200px wide */
@media only screen and (min-width: 1440px) {
    li {
        width: 20%;
    }
    ul {
      padding-left: 6px;
    }
}
