 /*for debugging only
li, h1, h2, h3, li, img, p , header, footer {
   border: 1px dashed red;
}*/

body {
   font-family: 'Lato', 'Calibri', Arial, sans-serif;
   /*width: 1218px;*/
   margin: 0 auto;
   color: #47A3DA;
   /*border: 1px dashed red;*/
}

header {
 width: 100%;
 padding: 25px;
}

#mainContainer {
   border: 3px solid #47A3DA;
   padding: 20px;
   margin: 0% 9% 0% 9%;
}

#navBar {
 border-bottom: 3px solid #47A3DA;
 padding-bottom: 10px;
 text-align: right;
 width: 100%;
}

#itemContainer  {
  list-style-type: none;
}

#itemContainer li {
  display: inline-block;
}

.fa-2x {
 font-size: 1.8em !important;
}

.gridIcon {
 width: 35px;
 height: 35px;
 margin: 10px 0px 5px 0px;
 color: rgb(193, 193, 193);
 text-decoration: none;
 vertical-align: middle;
}

.listIcon {
 width: 35px;
 height: 35px;
 margin: 10px 0px 5px 0px;
 color: #47A3DA;
 text-decoration: none;
 vertical-align: middle;
}

.gridIcon:hover {
 color: #47A3DA;
 transition: color 0.2s;
}

.itemView {
   /*border: 2px dashed black;*/
   padding: 20px 0px;
   min-width: 99.5%;
   white-space: nowrap;
}

.itemLink {
  float: left;
  width: 10%;
  text-decoration: none;
}

.itemImage {
  float: left;
  width: 95x;
  height: 95px;
}

.itemName {
  float: left;
  width: 18%;
  font-size: 1.3em;
  font-weight: bold;
  height: 25px;
  margin: 42px 10px 10px 10px;
  box-sizing: border-box;
}

.itemPrice {
  float: left;
  width: 10%;
  font-size: 1.3em;
  height: 25px;
  margin: 42px 10px 10px 10px;
  color: rgb(193, 193, 193);
  box-sizing: border-box;
}

.itemInfo {
  float: left;
  width: 38%;
  max-width: 400px;
  min-height: 50px;
  margin: 35px 10px 10px 10px;
  box-sizing: border-box;
  white-space: normal;
}

.buttonContainer {
  float: left;
  height: 40px;
  width: 145px;
  padding: 12px 0px;
  border-radius: 2px;
  margin  : 35px 10px 10px 10px;
  /*border: 1px dashed red;*/
}

.itemButton {
  color: #FFF;
  background: #47A3DA;
  padding: 10px 20px;
  border-radius: 2px;
  margin: 0px 0px 0px 0px;
  transition: background 0.2s;
  text-decoration: none;
}

.itemButton:hover {
  background: #02639D;
}

/* Any screen at 500px */
@media only screen and (min-width: 500px) {
  #mainContainer {
    margin: 0% 10% 0% 10%;
  }

  .itemImage {
    width: 66px;
    height: 66px;
  }

  .itemName {
    width: 100px;
    font-size: 1.3em;
    margin: 22px 10px 10px 12px;
  }

  .itemLink {
    width: 66px;
  }

  .itemPrice {
    width: 60px;
    font-size: 1.3em;
    margin: 22px 10px 10px 12px;
  }

  .itemInfo {
    /*width: 38%;*/
    min-width: 320px;
    min-height: 50px;
    font-size: 1.0em;
    margin: 15px 20px 10px 20px;
  }

  .buttonContainer {
    margin : -10px 0px 10px 20px;
  }

  .itemView {
    padding-bottom: 0px;
  }
}


/* Any screen at 1080px */
@media only screen and (min-width: 1080px) {
  #mainContainer {
    margin: 0% 5% 0% 5%;
  }

  .itemImage {
    width: 85px;
    height: 85px;
  }

  .itemName {
    width: 19%;
    font-size: 1.3em;
    margin: 30px 5px 10px 10px;
  }

  .itemLink {
    width: 87px;
  }

  .itemPrice {
    width: 10%;
    font-size: 1.3em;
    margin: 30px 0px 10px 10px;
  }

  .itemInfo {
    width: 300px;
    min-height: 50px;
    font-size: 1.0em;
    margin: 25px 0px 10px 10px;
  }

  .buttonContainer {
    margin : 25px -10px 10px 10px;
  }

  .itemView {
    padding-bottom: 10px;
  }
}

/* Any screen at 1440px */
@media only screen and (min-width: 1440px) {
    #mainContainer {
       margin: 0% 13.5% 0% 13.5%;
    }
    .itemImage {
      width: 100px;
      height: 100px;
    }

    .itemName {
      width: 21%;
      font-size: 1.3em;
      margin: 40px 5px 10px 10px;
    }

    .itemLink {
      width: 100px;
    }

    .itemPrice {
      width: 10%;
      font-size: 1.3em;
      margin: 40px 0px 10px 10px;
    }

    .itemInfo {
      width: 360px;
      min-height: 50px;
      font-size: 1.0em;
      margin: 32px 20px 10px 0px;
      line-height: 1.2em;
    }

    .buttonContainer {
      margin : 30px 15px 10px 10px;
    }

    .itemView {
      padding-bottom: 10px;
    }
}
