/* for debugging only
h1, h2, h3, li, img, p , header, footer {
   border: 1px dashed red;
} */

body {
   font-family: 'Lato', 'Calibri', Arial, sans-serif;
   /*width: 1218px;*/
   margin: 0 auto;
   color: #47A3DA;
   /*border: 1px dashed red;*/
}

header {
 width: 100%;
 padding: 25px;
}

#mainContainer {
   border: 3px solid #47A3DA;
   padding: 20px;
   margin: 0% 9% 0% 9%;
}

#navBar {
 border-bottom: 3px solid #47A3DA;
 padding-bottom: 10px;
 text-align: right;
 width: 100%;
}

.fa-2x {
 font-size: 1.8em !important;
}

.gridIcon {
 width: 35px;
 height: 35px;
 margin: 10px 0px 5px 0px;
 color: rgb(193, 193, 193);
 text-decoration: none;
 vertical-align: middle;
}

#gridLink {
}

.listIcon {
 width: 35px;
 height: 35px;
 margin: 10px 0px 5px 0px;
 color: #47A3DA;
 text-decoration: none;
 vertical-align: middle;
}

.gridIcon:hover {
 color: #47A3DA;
 transition: color 0.2s;
}

#listlink{
}

#itemContainer  {
  list-style-type: none;
}

#itemContainer li {
  display: inline-block;
}

.itemView {
   /*border: 2px dashed black;*/
   padding: 20px 0px;
   min-width: 99.5%;
   white-space: nowrap;
}

.itemLink {
  float: left;
  width: 10%;
  text-decoration: none;
}

.itemImage {
  float: left;
  width: 95x;
  height: 95px;
}

.itemName {
  float: left;
  width: 18%;
  font-size: 1.3em;
  font-weight: bold;
  height: 25px;
  margin: 42px 10px 10px 10px;
  box-sizing: border-box;
}

.itemPrice {
  float: left;
  width: 10%;
  font-size: 1.3em;
  height: 25px;
  margin: 42px 10px 10px 10px;
  color: rgb(193, 193, 193);
  box-sizing: border-box;
}

.itemInfo {
  float: left;
  width: 38%;
  max-width: 400px;
  min-height: 50px;
  margin: 35px 10px 10px 10px;
  box-sizing: border-box;
  white-space: normal;
}

.buttonContainer {
  float: left;
  height: 40px
  width: 145px;
  padding: 12px 0px;
  border-radius: 2px;
  margin  : 35px 10px 10px 10px;
  /*border: 1px dashed red;*/
}

.itemButton {
  color: #FFF;
  background: #47A3DA;
  padding: 10px 20px;
  border-radius: 2px;
  margin: 0px 0px 0px 0px;
  transition: background 0.2s;
  text-decoration: none;
}

.itemButton:hover {
  background: #02639D;
}
